
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="/css/styles.css">

        <title>Responsive sidebar submenus</title>
    </head>
    <body>
        <%- include('sidebar.ejs') %>
        <main>
          <h1>Simulados Disponíveis</h1>

          <ul>
            <% provas.forEach(prova => { %>
              <li><a href="/usuario/Simulados/<%= prova.id %>/adicionar-questoes"><%= prova.titulo %></a></li>
            <% }); %>
          </ul>
        </main>

        <!--========== MAIN JS ==========-->
        <script src="/js/main.js"></script>
    </body>
</html>