<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--========== CSS ==========-->
        <link rel="stylesheet" href="/css/styles.css">

        <title>Responsive sidebar submenus</title>
    </head>
    <body>
        <%- include('sidebar.ejs') %>
        <!--========== CONTENTS ==========-->
        <main>
            
            <h1>Selecione um topico:</h1>
            <form action="/usuario/search" id="meuFormulario" method="post">
                <label for="searchTerm">Buscar:</label>
                <input type="text" id="searchTerm" name="searchTerm" required>
                <button type="submit">Buscar</button>
            </form>

            <form action="/usuario/aleatorio" method="POST">
                <%- include('Colapsa-topico-aleatorio.ejs') %>
                
                <input type="hidden" name="areaId" id="areaId">
                <input type="hidden" name="topicoId" id="topicoId">
                <button type="submit">Selecione</button>
            </form>
            
            <script>
                
                function ExibirForm(areaId, topicoId, topicoMateria, perguntaPergunta) {
                    // Atualizar o conteúdo do modal com as informações da pergunta
                    const modal = document.getElementById('myModal');
                    modal.querySelector('.modal-title').textContent = 'deseja realmente realizar um simulado sobre:';
                    modal.querySelector('.modal-body').textContent = topicoMateria+'?';
                    
                    // Set the provaId value to the hidden input field
                    document.getElementById('areaId').value = areaId;

                    // Set the perguntaId value to the hidden input field
                    document.getElementById('topicoId').value = topicoId;

                    // Abrir o modal
                    modal.style.display = 'block';
                }

                function submitForm() {
                    var topicoId = document.getElementById('topicoId').value;
                    var quantidadeP = document.getElementById('quantidadeP').value;

                    // Atualize a ação do formulário com a nova rota
                    document.getElementById('meuFormulario').action = "/usuario/aleatorio/" + topicoId + '/' + quantidadeP;

                    // Envie o formulário
                    document.getElementById('meuFormulario').submit();
                }
                </script>

                <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                <div class="w3-container">             
                    <!-- Modal -->
                    <div id="myModal" class="w3-modal">
                        <div class="w3-modal-content">
                            <div class="w3-container">
                                <span onclick="document.getElementById('myModal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                <h3 class="modal-title"></h3>
                                <h3 class="modal-body"></h3><br>
                                <h3>Quantas Questões deseja?</h3>
                                <input type="text" id="quantidadeP" name="quantidadeP" required>
                                <button onclick="submitForm()">Fazer</button><br>
                                <h1> </h1>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

    <a href="/usuarios/inicioLogado">Voltar para a prova</a>
    <link rel="stylesheet" href="/css/styles.css">
        </main>

        <!--========== MAIN JS ==========-->
        <script src="/js/main.js"></script>
    </body>
</html>