
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%; /* Ensures html is 100% of the viewport */
    margin: 0; /* Removes default margin */
}

body {
    min-height: 100vh; /* Body takes at least full viewport height */
    background-color: #f5f5f5; /* Your desired background color */
}
main{
    width:100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    /* Aumenta o tamanho do título */
    font-weight: bold;
    /* Torna o título em negrito */
}


/* Estilos da tabela */
.table-container {
    overflow-x: auto;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Estilos da paginação */
.pagination-container {
    margin-top: 20px;
    text-align: center;
    /* Centraliza a paginação */
}

.pagination-container a {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 5px;
    background-color: #ccc;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.pagination-container a.active {
    background-color: #333;
    color: #fff;
}

/* Estilos do formulário */
form {
    margin-bottom: 20px;
    text-align: center;
    /* Centraliza o formulário */
}

form select,
form input[type="text"],

form input[type="submit"] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form button{
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    color: black;
}

form input[type="checkbox"] {
    margin-right: 5px;
}

/* Estilos do link de voltar */
.back-link {
    display: block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.botao-associar {
    padding: 10px 20px;
    width: 20%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;

    justify-self: center;
    border: 1px solid #272525;
}

/* Estilos gerais para a seção */
/* Estilos para a pequena tabelas 
/* Estilo geral para a div que contém todos os itens */


/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }

    .main-content {
        margin-left: 0;
        max-width: none;
        /* Remove a largura máxima no modo responsivo */
    }

    .pagination-container {
        text-align: center;
    }

    form {
        text-align: center;
    }
}





.edit-btn {
    display: inline-block;
    padding: 10px 10px;
    background-color: #333;
    /* Cor de fundo do botão */
    color: #fff;
    /* Cor do texto do botão */
    text-decoration: none;
    /* Remove o sublinhado do link */
    border-radius: 4px;
    /* Arredonda os cantos do botão */
    transition: background-color 0.3s ease;
    /* Animação suave ao passar o mouse */
}

.edit-btn:hover {
    background-color: #0056b3;
    /* Cor de fundo do botão ao passar o mouse */
}

.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination li {
    display: block;
    margin: 0 5px;
}

.pagination li a {
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.pagination li.active a {
    background-color: #0056b3;
    color: white;
}

.pagination li a:hover {
    background-color: #007bff;
}

.conteudo-com-html {
    white-space: pre-wrap;
}

.button-container {
    display: flex;
    /* Usa flexbox para alinhar os botões lado a lado */
    gap: 10px;
    /* Espaçamento entre os botões */
    justify-content: center;
    /* Centraliza os botões horizontalmente */
    padding: 10px;
    /* Padding ao redor do contêiner para dar espaço */
    /* Fundo claro para o contêiner */
    /* Sombra suave para dar profundidade */
}

.button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    cursor: pointer;

}
.uk-heading-divider{
    text-align: center;
}