
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
li {
    margin-left: 16px;
}

a {
    cursor: pointer;
}

.coluna-esqueda {
    max-width: 991px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.toolbar {
    padding: 16px;
    background: #eee;
}

.toolbar.head {
    display: flex;
    grid-gap: 10px;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.toolbar.head > input {
    max-width: 100px;
    padding: 6px 10px;
    border-radius: 6px;
    border: 2px solid #ddd;
    outline: none;
}

.toolbar.head select {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
}

.toolbar.head.color {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 6px;
    padding: 0 10px;
}

.toolbar.head.color span {
    font-size: 14px;
}

.toolbar.head.color input {
    border: none;
    padding: 0;
    width: 26px;
    height: 26px;
    background: #fff;
    cursor: pointer;
}

.toolbar.head.color input::-moz-color-swatch {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}

.toolbar.btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 10px;
}

.toolbar.btn-toolbar button {
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.toolbar.btn-toolbar button:hover {
    background: #f3f3f3;
}

.input-resposta,
input[type="text"],
input[type="input"] {
    width: 75%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px solid #272525;
    border-radius: 3px;
    font-size: 14px;
}

select {
    border: 1px solid #ccc;
    outline: none;
    border-radius: 3px;
    padding: 5px;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
    margin: 0 auto;
}

.botao-registro {
    padding: 10px 20px;
    width: 35%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.container {
    width: 80%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"],
button[type="button"] {
    padding: 5px 5px;
}

.resposta-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.resposta-item input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.resposta-item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.resposta-item button:hover {
    background-color: #0056b3;
}

.topicos-lista input[type="checkbox"] {
    margin-right: 10px;
}

.topicos-lista label {
    cursor: pointer;
    font-size: 16px;
    color: #444;
}

.topicos-lista label:hover {
    color: #007bff;
}

.topicos-lista input[type="checkbox"]:hover {
    cursor: pointer;
}

.titulo {
    width: 100%;
    text-align: center;
}

.colunas {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.coluna-esquerda,
.coluna-direita {
    flex: 1;
    padding: 10px;
}

.coluna-esquerda {
    margin-right: 20px;
}

.coluna-direita {
    margin-left: 20px;
}

main {
    margin-top: 50px;
}
.title {
    text-align: center;
}

.uk-navbar-nav li {
    width: 100%;
}
.ql-tooltip {
    left: 0 !important;
    /* Ajuste conforme necessário */
    top: 30px !important;
    /* Mantenha ou ajuste conforme necessário */
    transform: translateX(-50%);
    /* Centraliza horizontalmente */
}